{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>¿Que nos ponemos hoy?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/principal.css' %}">
        <!--.css asociado: "style2.css"-->
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">¡Bienvenido!</label>
            <ul class="menu-horizontal">
                <li><a href="{% url 'reporte' %}">Registros</a></li>
                <li>
                    <a href="{% url 'perfil' %}">Perfil</a>
                    <ul class="menu-vertical">
                        <li><a>Cerrar sesión</a></li>
                        <!--Aquí tienes que poner códgio para que cierre sesión-->
                    </ul>
                </li>
            </ul>
        </nav>
        <section>
            <div class="cuadro-1">
                <br>
                <div class="ingreso">
                    <form action="{% url 'principal' %}" method="post">
                        {% csrf_token %}
                        {{ agua_form.as_table }} 
                        <button type="submit" name="agua_form">Guardar registro</button>
                    </form>
                </div>
                
                <br>
                <br>
                <br>
                
                <div class="boton">
                    <form action="{% url 'principal' %}" method="post">
                        {% csrf_token %}
                        {{ bloqueador_form.as_table }}
                        <button type="submit" name="bloqueador_form">Guardar registro</button>
                    </form>
                </div>
                

                <div class="boton2">
                    <form action="{% url 'principal' %}" method="post">
                        {% csrf_token %}
                        {{ ropa_form.as_table }}
                        <button type="submit" name="ropa_form">Guardar registro</button>
                    </form>
                </div>
            </div>
            <div class="cuadro-2">
                <h2>Insignias</h2>
                <progress min="0" max="8" value="contador"></progress>
                <!--este <progress> agrega la barra de progreso, puedes modificar el max según como se haya hecho
                el trabajo y el value es el que se tiene que asociar a la variable de cuantas lleva logradas el 
                usuario-->
                <br>
                <h3>Metas:</h3>
                <!--Entre estos <br> poner las recomendaciones y despues borrar los <br>-->
                {{ recomendaciones.info }}
                <h4>Toma 150 vasos de agua.</h4>
            </div>
            <img class="grande" src="https://c0.klipartz.com/pngpicture/774/580/gratis-png-termometro-de-sala-de-arte-temperatura-del-termometro-termometro.png">
            <div class="datostemp">
                <h5>temperatura:</h5>
                <!--Aquí tendría que ir la variable de la temperatura sacada con la api de python-->
                {{ temperatura }}
            </div>
        </section>
    </body>
</html>