{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">  
    <head>
        <meta charset="UTF-8">
        <title>Perfil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/registro.css'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="home.html">
            <img class="house" alt="" src="https://static.vecteezy.com/system/resources/previews/010/159/780/non_2x/house-symbol-and-home-icon-sign-design-free-png.png">
        </a>
    </nav>
    <div class="container-form">
        <div class="Profile">
            <h1>Registro</h1>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bx-water'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bx-sun'></i> 
                </div>
            </div>    
        </div>
        <div class="formulario">
            <h2>Registro de Agua</h2>
            <div class="information">    
               <form action="{% url 'registro' %}" method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit">Registrarse</button>
               </form>
            </div>            
        </div>
    </div>
</body>
