* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url('https://img.freepik.com/foto-gratis/fondo-o-textura-grunge-fondo-pared-verde-oscuro_1258-108737.jpg');
}
.cuadroregister{
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-top-color: #caca97;
    width: 1000px;
    height: 450px;
    position: fixed;
    right: 150px;
    bottom: 50px;
    padding: 15px;
    text-align: left;
    color: black;
    border-radius: 15px;
    background-color: #caca97;
}
nav{
    background: #caca97;
    height: 80px;
    width: 100%;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.tamañotexto{
    margin-left: 20px;
}