{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Agrega enlaces a tus archivos de estilo (CSS) aquí -->
</head>
<body>
    <header>
        <div>
            <button onclick="location.href='{% url 'mas_opciones' %}'">Más opciones</button>
            <button onclick="location.href='{% url 'perfil' %}'">Mi perfil</button>
        </div>
    </header>

    <div class="left-section">
        <!-- Sección de progreso, recomendación y dato curioso -->
    </div>

    <div class="center-section">
        <!-- Sección de temperatura y porcentaje de hidratación -->
    </div>

    <div class="right-section">
        <!-- Sección para enviar registros de agua, bloqueador y ropa -->
        <div>
            <h3>Registrar Agua</h3>
            <form method="post" class="form-group">
                {% csrf_token %}
                {{ form_agua|crispy }}
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div>
            <h3>Registrar Bloqueador</h3>
            <form method="post">
                {% csrf_token %}
                {{ form_bloqueador|crispy }}
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div>
            <h3>Registrar Ropa</h3>
            <form method="post">
                {% csrf_token %}
                {{ form_ropa|crispy }}
                <button type="submit">Enviar</button>
            </form>
        </div>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
        <li>
            <a href="#">{{ user.username }}</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}">Iniciar sesión</a>
        </li>
        <li>
            <a href="{% url 'registro' %}">Regístrate</a>
        </li>
        {% endif %}
    </div>
</body>
</html>