{% load crispy_forms_tags %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <!-- Agrega enlaces a tus archivos de estilo (CSS) aquí -->
</head>
<body>
    <header>
        <div>
            <button onclick="location.href='{% url 'home' %}'">Volver a Home</button>
        </div>
    </header>
    <h2>Mi Perfil</h2>
    <br>
    <form action="" class="form-perfil" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Guardar cambios</button>
    </form>
    {{mensaje}}
    <button type="submit">Cerrar Sesión</button>
</body>
</html>

{% endblock %}