{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-TBDT2nREmwj2/2BLWBzFYEAgpLzDAIBb6itvz0sY6zfuCt8aWYWSgFbR8eOAsYj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/crispy-bootstrap4@1.0.0-alpha1/dist/crispy-bootstrap4.css" integrity="sha384-TBDT2nREmwj2/2BLWBzFYEAgpLzDAIBb6itvz0sY6zfuCt8aWYWSgFbR8eOAsYj" crossorigin="anonymous">
    <title>Registro</title>
</head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="{% url 'login' %}" id="rettolog">
            </a>
            <h6 class="tamañotexto">Login</h6>
        </nav>
        <section>
            <div class="cuadroregister">
                {{ form|crispy }}
            </div>
        </section>
        
    </body>
</html>
